@import './base.css';

#app {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
}

html {
	font-size: calc(15px + 0.390625vw);
	touch-action: manipulation;
}
