@import './base.css';

#app {
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	justify-content: center;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
}

a:hover {
	filter: drop-shadow(0 0 0.3rem rgb(196, 196, 196));
}